<div ng-controller="hostCtrl" class="jumbotron">
        <h3>Table</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Dono</th>
                <th>Descrição</th>
                <th>Rua</th>
                <th>Número</th>
                <th>Complemento</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>CEP</th>
                <th>Itens</th>
            </tr>
            <tr ng-repeat="host in hosts">
                <td><input type="checkbox" ng-model="host.selected"/></td>
                <td>{{host.title}}</td>
                <td>{{host.category}}</td>
                <td>{{host.owner}}</td>
                <td>{{host.description}}</td>
                <td>{{host.adress.street}}</td>
                <td>{{host.adress.number}}</td>
                <td>{{host.adress.complement}}</td>
                <td>{{host.adress.city}}</td>
                <td>{{host.adress.state}}</td>
                <td>{{host.adress.zipCode}}</td>
                <td>
                    <div ng-repeat="item in host.items">- {{item.quantity}} {{item.name}}</div>
                </td>
            </tr>
        </table>
        <h3>Form</h3>
        <form name="hostForm">
            <div class="alert alert-danger" ng-show="hostForm.title.$invalid && hostForm.title.$dirty">
                Por favor, digite um Nome.
            </div>
            <div class="alert alert-danger" ng-show="hostForm.category.$invalid && hostForm.category.$dirty">
                Por favor, selecione uma Categoria.
            </div>
            <div class="alert alert-danger" ng-show="hostForm.adress.street.$invalid && hostForm.adress.street.$dirty">
                Por favor, digite uma Rua.
            </div>
            <div class="alert alert-danger" ng-show="hostForm.adress.number.$invalid && hostForm.adress.number.$dirty">
                Por favor, digite uma Número.
            </div>
            <div class="alert alert-danger" ng-show="hostForm.adress.zipCode.$invalid && hostForm.adress.zipCode.$dirty">
                Por favor, digite uma CEP.
            </div>
            <div class="alert alert-danger" ng-show="hostForm.adress.city.$invalid && hostForm.adress.city.$dirty">
                Por favor, selecione uma Cidade.
            </div>
            <div class="alert alert-danger" ng-show="hostForm.adress.state.$invalid && hostForm.adress.state.$dirty">
                Por favor, selecione um Estado.
            </div>

            <!-- INPUTs -->
            <!-- ============================= -->
            <div>
                <label>Nome: </label>
                <input type="text" ng-model="newHost.title" ng-required="true" name="title" placeholder="Nome" class="form-control"/>
            </div>
            <div>
                <label>Categoria</label>
                <select ng-model="newHost.category" ng-options="category.id as category.name for category in categories" ng-required="true" name="category" class="form-control">
                    <option value="">Selecione uma Categoria</option>
                </select>
            </div>
            <div>
                <label>Descrição: </label>
                <input type="text" ng-model="newHost.description" name="description" placeholder="Descrição ..." class="form-control"/>
            </div>

            <div>
                <label>Rua: </label>
                <input type="text" ng-model="newHost.address.street" ng-required="true" name="adress.street" placeholder="Rua" class="form-control"/>
                <label>Número: </label>
                <input type="number" ng-model="newHost.address.number" ng-required="true" name="adress.number" placeholder="Número" class="form-control"/>
                <label>Complemento: </label>
                <input type="text" ng-model="newHost.address.complement" name="adress.complement" placeholder="Complemento" class="form-control"/>
                <label>CEP: </label>
                <input type="number" ng-model="newHost.address.zipCode" ng-required="true" name="adress.zipCode" placeholder="CEP" class="form-control"/>
            </div>

            <div>
                <label>Cidade: </label>
                <select ng-model="newHost.adress.city" ng-options="city.name for city in cities" ng-required="true" name="adress.city" class="form-control">
                    <option value="">Selecione uma Cidade</option>
                </select>
                <label>Estado: </label>
                <select ng-model="newHost.adress.state" ng-options="state.name for state in states" ng-required="true" name="adress.state" class="form-control">
                    <option value="">Selecione um Estado</option>
                </select>
            </div>
        </form>
        <button ng-click="addHost(newHost)" ng-disabled="hostForm.$invalid" class="btn btn-primary">Adicionar Host</button>
        <button ng-click="deleteHost(hosts)" ng-disabled="isHostsSelected(hosts)" class="btn btn-danger">Deletar Host</button>
        {{newHost}}
    </div>